@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    background-color: #ab9a99;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.brown-background {
    background-color: #3d2e30;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;
}

/*Logo and navigation bar*/

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
    text-decoration: none;
    color: #ffffff;
}

#logo:hover {
    color: #f26e31;
}

#nav-bar {
    font-size: 170%;
    float: right;
    text-decoration: none;
    color: #ffffff;
}

#nav-bar,
#logo {
    line-height: 75px;
    background-color: #3d2e30;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

#nav-bar a {
    text-decoration: none;
    color: #ffffff;
}

#nav-bar a:hover {
    color: #f26e31;
}


/* Hero Image And Welcome Message */
#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: auto;
    padding-top: 90px;
    position: relative;
}
/*Animation for the hero image*/
#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/treadmill-runner-medium.jpg) no-repeat center center;
    z-index: 2;
    background-size: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#welcome-message {
    font-size: 150%;
    font-family: Nunito, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: #f26e31;
    border-radius: 30%;
    bottom: 50%;
    right: 60%;
    position: absolute;
}

#welcome-message,
#welcome-message h2 {
    color: #ffffff;
    padding: 10px;
    text-align: end;
}

/* Hero Image Animation */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

/*Text and image section styling */

.text-and-image-section {
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.information-text-left {
    height: 400px;
    background-color: #f26e31;
    color: #3d2e30;
    width: 50%;
    float: left;
    text-align: center;

}

.information-text-left h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline;
    font-size: 200%;
}

.information-text-left p {
    color: #ffffff;
    font-size: 1.3rem;
}

.information-text-right {
    height: 400px;
    background-color: #f26e31;
    color: #3d2e30;
    width: 50%;
    float: right;
    text-align: center;
}

.information-text-right h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline;
    font-size: 200%;
}

.information-text-right p {
    color: #ffffff;
    font-size: 1.3rem;
}

.float-right-icon {
    float: right;
    font-size: 200%;
}

.float-left-icon {
    float: left;
    font-size: 200%;
}

.image-next-to-text-right {
    height: 400px;
    float: right;
    width: 50%;
    background-color: #ffffff;
}

.image-next-to-text-left {
    height: 400px;
    float: left;
    width: 50%;
    background-color: #ffffff;
}

/* Paragraph class rules */
.float-center-paragraph {
    width: 75%;
    margin: 0 auto;
}

/*Section Banner */

.section-banner {
    display: block;
    position: static;
    width: 100%;
    background-color: #f26e31;
}

.section-banner h1 {
    color: #3d2e30;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    padding: 25px;
}

/* Form styling */

.signup {
    height: 80%;
    background-color: #f26e31;
    color: #ffffff;
    width: 75%;
    padding: 25px;
    border: 5px solid #ffffff;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

.signup h2 {
    text-decoration: underline;
}

.signup-input {
    width: 100%;
    margin: 10px 0 10px 0;
    font-size: 100%;
}

/*Opening times and prices table styling */

table,
th,
td {
    border: 1px solid #3d2e30;
    color: #ffffff;
    background-color: #f26e31;
    border-collapse: collapse;
    padding: 10px;
}

table td {
    text-align: center;
}

/* footer styling */

#footer-container {
    width: 100%;
    
}

#footer-container>div {
    text-align: center;
    margin: 0 auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 1px solid #f26e31;
    width: 95%;
    background-color: #3d2e30;
    color: #ffffff;
}

#footer-container summary {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 150%;
}

#footer-container a {
    color: inherit;
}

#footer-container a:hover {
    color: #f26e31;
}

/* Contact-section styling*/

#contact-intro {
    color: #ffffff;
    background-color: #f26e31;
    width: inherit;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

#contact-section-wrapper {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#contact-section-left-div {
    float: left;
    background-color: #3d2e30;
    width: 33%;
    height: 350px;
    padding-top: 25px;
}

#contact-section-right-div {
    float: right;
    background-color: #3d2e30;
    height: 350px;
    width: 33%;
    padding-top: 25px;
}

#contact-section-right-div table {
    margin-right: auto;
    margin-left: auto;
}

#contact-section-center-div {
    margin: 0 auto;
    background-color: #3d2e30;
    height: 350px;
    width: 33%;
    padding-top: 25px;
}

#contact-section-center-div table {
    margin-left: auto;
    margin-right: auto;
}

/*Media Queries for Main Page*/
@media screen and (max-width: 1600px) {

    .information-text-left {
        width: 100%;
    }

    .information-text-right {
        width: 100%;
        float: left;
    }

    .image-next-to-text-left {
        width: 100%;
    }

    .image-next-to-text-right {
        width: 100%;
        float: left;
    }

    .section-banner {
        clear: both;
        position: static;
    }

    .section-banner h1 {
        border: #3d2e30 5px solid;
    }
}

@media screen and (max-width: 1400px) {
    .information-text-left p {}

    .information-text-right p {}
}

@media screen and (max-width: 1200px) {

    table,
    th,
    td {
        padding: 5px;
    }

    table td {
        text-align: center;
    }
}

@media screen and (max-width: 1090px) {
    .information-text-left p {}

    .information-text-right p {}
}

/*Limit of tables*/
@media screen and (max-width: 1000px) {
    .information-text-left p {
        font-size: 1.1rem;
    }

    .information-text-right p {
        font-size: 1.1rem;
    }
}

/*Change for navigation bar*/
@media screen and (max-width: 900px) {
    #nav-bar {
        width: 100%;
        clear: left;
        float: left;
        padding-left: 25px;
        line-height: 35px;
    }

    #nav-bar li {
        float: left;
        text-align: center;
        margin-right: none;
    }

    #welcome-message {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    table,
    th,
    td {
        padding: 0px;
    }

    table td, th {
        font-size: 80%;
    }

    .signup {
        padding: 0px; 
        font-size: 80%;
    }

    .signup-input {

    }

    #contact-section-left-div {
        width: 100%;
        height: fit-content;
    }

    #contact-section-right-div {
        width: 100%;
        float: left;
        height: fit-content;
    }

    #contact-section-center-div {
        width:100%;
        float: left;
        height: fit-content;
        margin-bottom: 25px;
        padding-bottom: 10px;
    }

    #footer-container {
        clear: both;
    }
}

/*Change font size*/
@media screen and (max-width: 700px) {
    .information-text-left p {
        font-size: 1rem;
    }

    .information-text-right p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {

    #nav-bar li {
        font-size: 80%;
    }

    .information-text-left p {
        font-size: 0.9rem;
    }

    .information-text-right-p {
        font-size: 0.9rem;
    }

    #footer-container> div {
        font-size: 50%;
    }

    #footer-container details {
        font-size: 150%;
    }
}

@media screen and (max-width: 460px) {
    #nav-bar li {
        font-size: 50%;
    }

    .information-text-right p {
        font-size: 0.8rem;
    }

    .information-text-left p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 350px)
{
    #logo {
        font-size: 200%;
    }
}

/*Contact Form Submission Page*/
#full-page {
    width: 100vw;
    height: 100vh;
    background-color: #f26e31;
    text-align: center;
}

#full-page h1 {
    color: #3d2e30;
}

#full-page button {
    text-decoration-color: none;
    font-size: 170%;
    position: relative;
    background-color: #3d2e30;
}

#full-page a {
    color: #ffffff;
    text-decoration-color: #ffffff;
}