@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: PT Sans, sans-serif;
    font-weight: 400;   
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

/*logo*/

#logo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
}

#logo:hover {
    border: 10px solid #F0EFE6;
    border-radius: 25px;
}

#nav-bar {
    font-size: 170%;
    float: right;
}

#nav-bar, #logo {
    line-height: 75px;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

#nav-bar a:hover {
    border: 10px solid #F0EFE6;
    border-radius: 25px;
}

/* Header Styling */

#header-styling {
    background-color: #677E93;
}

#header-styling a {
    text-decoration: none;
    color: #F0EFE6;
}
