@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    background-color: #8d8e86;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.brown-background {
    background-color: #a6543e;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;
}

/*logo*/

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

#logo:hover {
    color: #8d8e86;
}

#nav-bar {
    font-size: 170%;
    float: right;
    text-decoration: none;
    color: white;
}

#nav-bar,
#logo {
    line-height: 75px;
    background-color: #a6543e;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

#nav-bar a {
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    color: #8d8e86;
}


/* Hero Image And Welcome Message */
#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: auto;
    padding-top: 90px;
    position: relative;

}

#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/treadmill-runner-medium.jpg) no-repeat center center;
    z-index: 2;
    background-size: auto;



    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#welcome-message,
#welcome-message h2 {
    color: white;
    padding: 10px;
    text-align: end;
}

/* Hero Image Animation */
@keyframes hero-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.05);
    }
}

#welcome-message {
    font-size: 150%;
    font-family: Nunito, sans-serif;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: #161827;

    border-radius: 30%;

    bottom: 50%;
    right: 60%;
    position: absolute;
}

/*Text and image section styling */

.text-and-image-section {
    height: 30vh;
    margin-top: 25px;
    margin-bottom: 50px;

}

.information-text-left {
    height: 30vh;
    background-color: #161827;
    color: #a6543e;
    width: 50%;
    float: left;
    text-align: center;
    padding-bottom: 25px;
}

.information-text-left h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline;
    font-size: 200%;
}

.information-text-left p {
    color: white;
}

.information-text-right {
    height: 30vh;
    background-color: #161827;
    color: #a6543e;
    width: 50%;
    float: right;
    text-align: center;
    padding-bottom: 25px;
}

.information-text-right h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline;
    font-size: 200%;
}

.information-text-right p {
    color: white;
}

.float-right-icon {
    float: right;
    font-size: 200%;
}

.float-left-icon {
    float: left;
    font-size: 200%;
}

.image-next-to-text-right {
    height: 30vh;
    float: right;
    width: 50%;
    background-color: white;
    padding-bottom: 25px;
}

.image-next-to-text-left {
    height: 30vh;
    float: left;
    width: 50%;
    background-color: white;
    padding-bottom: 25px;
}



/* Paragraph class rules */
.float-center-paragraph {
    width: 75%;
    margin: 0 auto;
}

/*Section Banner */

.section-banner {
    display: block;
    width: 100%;
    background-color: #161827;
}

.section-banner h1 {
    color: #a6543e;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    padding: 25px;
}

/* Form styling */

#contact-intro {
    color: white;
    background-color: #161827;
    width: 100%;
    text-align: center;
}

#contact-div {
    position: relative;
    width: 100%;

}

.signup {
    height: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #161827;
    color: white;
    width: 50%;
    padding: 25px;
    border: 5px solid white;
    font-size: 100%;
}

.signup h2 {
    text-decoration: underline;
}

.signup-input {
    width: 100%;
    margin: 10px 0 10px 0;
    font-size: 100%;
}

/*Opening times and prices table styling */

table,
th,
td {
    border: 1px solid #a6543e;
    color: white;
    background-color: #161827;
    border-collapse: collapse;
    padding: 10px;
}

table td {
    text-align: center;
}

/* footer styling */

#footer-container {
    width: 100%;
}

#footer-container>div {
    text-align: center;
    margin: 0 auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 1px solid #161827;
    width: 100%;
    background-color: #a6543e;
    color: white;
}

#footer-container summary {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 150%;
}

#footer-container a {
    color: inherit;
}

#footer-container a:hover {
    color: #8d8e86;
}